.header-info-container {
	height: var(---header-info-height);
	width: var(---header-info-height);
	min-height: var(---section-min-height);
	min-width: var(---section-min-height);
	background-color: #ebebeb;
	border-radius: 50%;
	margin: auto;
		display: flex;
	justify-content: center;


}

.header-info-content {
	text-align: center;
}

.header-info-content > div {
	margin: 0 auto;
}

.header-info-temp {
	font-size: 60px;
	margin-top: 25px !important;
}

.header-info-status {
	font-size: 30px;
}

.header-info-location {
	font-size: 16px;
}

.header-sub-header {
	margin-top: 10px !important;
}