.pick-location-container {
	position: absolute;
	right: var(---header-padding);
	cursor: pointer;
}

.pick-location-container img {
	height: inherit;
}

.pick-location-text {
	margin: auto;
}

.mobile-picker {
	height: 30px;
	width: 30px;
	display: flex;
	color: green;	
}

.mobile-picker {

}

.mobile-pick-location-icon {
	font-size: 20px;
	margin: auto;
}

.desktop-picker:hover {
	color: green;
}