.search-container {
	height: 100%;
	display: flex;
	box-sizing: border-box;
	padding: var(---header-padding);
	position: relative;

}

.search-form {
	margin-top: 250px;
	width: 100%;
}

.form-input-container {
	padding-top: 20px;
}

.form-text {
	font-size: var(---search-text-size);
}