.location-selector-container {
	display: inline;
	cursor: pointer;
	position: absolute;
}

.location-selector-container > div {
	font-size: var(---search-text-size);
	margin: 10px 0px;
	margin-left: 7px;
	color: #b6b6b6;
}

.location:first-child {
	margin-top: 0;
}

.location-text:hover {
	border-bottom: 3px solid;
	color: green;
}

.location-selector-container > .active {
	display: inline;
	color: green;
}

.hidden {
	display: none;
}
