body {
	margin: 0;
}

#root {
	height: 100vh;
}

:root {
	---header-height-section: 40vh;
	---body-height-section: 40vh;
	---footer-height-section: 20vh;
	---header-padding: 20px;
	---header-info-height: 200px;
	---footer-temp-font-size: 40px;
	---footer-temp-padding: 20px;
	---search-text-size: 40px;
}

@media screen and (max-width: 600px) {
	:root {
		---footer-temp-font-size: 30px;
	}
}

@media screen and (max-height: 400px) {
	:root {
		---footer-temp-font-size: 40px;
		---footer-temp-padding: 0;
	}
}