body {
	margin: 0;
}

#root {
	height: 100vh;
}

:root {
	---header-height-section: 40vh;
	---body-height-section: 40vh;
	---footer-height-section: 20vh;
	---header-padding: 20px;
	---header-info-height: 25vh;
}
